doctype html
html
  head
    title= title
  body
    header
      h1= title
    main
      h2= "Message" 
      form(method="POST" action="/new")
        input(type="text", placeholder="Enter your Name", name="username" id="username")
        textarea(placeholder="Write a Message", name="message" id="message")
        button(type="submit")= "Send"