extends layout

block content
  header.header
    div.header-container
      h1.project-title= title
      nav
        a.message-link(href="/new") Write a Message
  main.main
      each message in messages
        p.username= message.user 
        h2.message= message.text
        p.date-and-time= message.added
